* {
    font-family: poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.main_bg {
    height: 100vh;
    background-image: url(pics/main-bg.png);
    background-position: center -180px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.header_container {
    flex-shrink: 0;
}

.login_container {
    flex-grow: 1;
}

.footer {
    flex-shrink: 0;
}

.form-container {
    border-radius: 25px !important;
}

.header_container img {
    max-height: 150px;
}

.form-body input {
    border-radius: 20px !important;
}

.btn {
    border-radius: 15px !important;
}

a {
    text-decoration: none;
    color: red;
}

.BSU {
    font-size: 35px;
}

.description, .copyright {
    font-size: 20px;
}

.red_spartan {
    max-height: 187px;
}

@media (max-width: 768px) {
    .BSU {
        font-size: 1.5rem;
    }
    .description {
        font-size: 1.2rem;
    }
    .copyright {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .BSU {
        font-size: 1.2rem;
    }
    .description {
        font-size: 0.8rem;
    }
    .copyright {
        font-size: 0.8rem;
    }
}


